{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="section-content padding-y bg">
<div class="container">

<div class="row">

    <!-- Sidebar -->
    <aside class="col-md-3">
        <ul class="list-group">
            <a class="list-group-item active" href="{% url 'dashboard' %}">
    <i class="bi bi-speedometer2 me-2"></i> Dashboard
</a>

<a class="list-group-item" href="{% url 'my_orders' %}">
    <i class="bi bi-bag-check me-2"></i> My Orders
</a>

<a class="list-group-item" href="{% url 'edit_profile' %}">
    <i class="bi bi-person-circle me-2"></i> Edit Profile
</a>

<a class="list-group-item" href="{% url 'change_password' %}">
    <i class="bi bi-shield-lock me-2"></i> Change Password
</a>
        </ul>
        <br>
        <a class="btn btn-light btn-block" href="{% url 'logout' %}">
            <i class="fa fa-power-off"></i> Logout
        </a>
    </aside>

    <!-- Main Content -->
    <main class="col-md-9">

        <!-- Dashboard Card -->
        <article class="card mb-4">
            <header class="card-header">
                <strong>Logged in as:</strong> {{ user.first_name }}
            </header>

            <div class="card-body">

                <div class="row">

                    <!-- Total Orders -->
                    <div class="col-md-6">
                        <div class="card text-center p-3">
                            <h6>Total Orders</h6>
                            <h3>{{ orders_count }}</h3>
                            <a href="{% url 'my_orders' %}">View Orders</a>
                        </div>
                    </div>

                    <!-- Profile Info -->
                    <div class="col-md-6">
                        <div class="card text-center p-3">
                            <div class="mb-2">
                                <i class="fa fa-user-circle fa-3x text-primary"></i>
                            </div>

                            <p class="mb-1">{{ user.email }}</p>
                            <small>{{ user.phone_number }}</small>
                        </div>
                    </div>

                </div>

            </div>
        </article>

    </main>

</div>

</div>
</section>

{% endblock %}